body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
header{
  display: flex;
  justify-content: space-between;
}

.header_code{
  text-align: center;
  padding-top: 20px;
}
.header_code p{
  margin: 0;
  font-size: 12px;
}
.header_code p:first-child{
  font-weight: 700;
  font-size: 16px;
}
.header_title{
  text-align: center;
  padding-top: 15px;
}
.header_title h2 {
  margin: 5px 0;
}
.header_title h2:first-child{
  font-weight: 500;
}
.header_btn{
  font-size: 12px;
  padding-top: 20px;
  display: flex;
}
.header_btn a{
  text-decoration: none;
  color: black;
  padding: 5px 5px 0;
  border: 1.5px solid black;
  text-align: center;
  width: 40px;
}
.header_btn a:first-child{
  margin-right: 20px;
}
.header_btn p{
  margin: 5px 0 0;
}
.header_btn-img{
  width: 28px;
}
span{
  font-weight: bold;
  font-size: 16px;
}